/* Monterrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
/* font */
/* color */
@media (min-width: 559px) {
  .prices {
    display: flex;
    margin: 0 auto;
    max-width: 75%;
    height: 60vh;
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.card__price {
  font-size: 3.5rem;
  letter-spacing: -2px;
}

.card__desc {
  font-size: 0.9rem;
}

.dollar-sign {
  font-size: 2rem;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.7rem;
}

.toggle-desc {
  font-size: 0.8rem;
}

.back-ground {
  background-image: url("../images/bg-top.svg");
  background-position: 550% 0%;
  background-repeat: no-repeat;
  background-size: 90%;
  background-color: #f7f7ff;
}
@media (min-width: 559px) {
  .back-ground {
    background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
    background-size: 25%, 25%;
    background-position: top right, 10% 120%;
  }
}

.price-header {
  text-align: center;
  color: #494c5f;
  padding-top: 5rem;
}

.toggle-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin: 3rem 0 5rem;
}

.toggle-desc {
  color: #6d708d;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(160deg, #a3a8f0, #696fdd);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 2em;
  border-radius: 0.5em;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (min-width: 559px) {
  .card {
    width: 85%;
  }
}
.card__header {
  padding-top: 1.5rem;
  color: #6d708d;
}
.card__price {
  padding: 2rem 0;
  border-bottom: 1px solid #b3b5c6;
  width: 80%;
  text-align: center;
  color: #494c5f;
}
.card__desc {
  border-bottom: 1px solid #b3b5c6;
  width: 80%;
  text-align: center;
  padding: 1.2rem 0;
  color: #6d708d;
}

.dollar-sign {
  position: relative;
  top: -0.5rem;
  left: -0.5rem;
  color: #494c5f;
}

.profess-price-card {
  background-image: linear-gradient(160deg, #a3a8f0, #696fdd);
}
.profess-price-card h3, .profess-price-card p, .profess-price-card .dollar-sign {
  color: white;
}
.profess-price-card .btn {
  background: white;
  color: #696fdd;
}
.profess-price-card .btn:hover {
  background-image: linear-gradient(160deg, #a3a8f0, #696fdd);
  color: white;
  border: 1px solid white;
}
@media (min-width: 559px) {
  .profess-price-card {
    height: 100%;
    bottom: 1rem;
    position: relative;
  }
}

.btn {
  padding: 0.7rem 4.5rem;
  margin: 1.5rem 0;
  background-image: linear-gradient(160deg, #a3a8f0, #696fdd);
  border: 1px solid #696fdd;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.btn:hover {
  background: white;
  color: #696fdd;
}

/*# sourceMappingURL=main.css.map */
