/* font */

$prim-font: 'Montserrat';

/* color */

$prim-grad: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

$gray-100: hsl(240, 78%, 98%);
$gray-200: hsl(234, 14%, 74%);
$gray-400: hsl(233, 13%, 49%);
$gray-600: hsl(232, 13%, 33%);
