@use '../base';
@use '../utils' as var;

.back-ground{
  background-image: url('../images/bg-top.svg');
  background-position: 550%  0%;
  background-repeat: no-repeat;
  background-size: 90%;
  background-color: #f7f7ff;

  @include var.desktop {
    background-image: url('../images/bg-top.svg'), url('../images/bg-bottom.svg');
    background-size: 25%, 25%;
    background-position: top right, 10% 120%;
  }
}

.price-header {
  text-align: center;
  color: var.$gray-600;
  padding-top: 5rem;
}
