@use '../utils' as var;

.btn {
  padding: .7rem 4.5rem;
  margin: 1.5rem 0;
  background-image: var.$prim-grad;
  border: 1px solid hsl(237, 63%, 64%);
  border-radius: 4px;
  color: white;
  cursor: pointer;

  &:hover {
    background: white;
    color: hsl(237, 63%, 64%);
  }
}
